.row {
    color: white;
}

.row h2 {
    color: white;
    margin-left: 25px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.5rem;
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row__posterLarge {
    max-height: 250px;
}

.row__posterLarge:hover {
    transform: scale(1.1);
}

.row__posterSmall:hover {
    transform: scale(1.05);
}

.row__posters::-webkit-scrollbar {
    display: none;
}
